
.tagline {
    margin-bottom: 20px;
}
.label a {
    color: #FFFFFF;
    text-decoration: none;
}
.product-detail.row {
    border-bottom: 1px solid #EEEEEE;
    margin: 1em 0;
}
.product-detail img {
    max-height: 150px;
    max-width: 150px;
}
.product-detail h2 {
    margin-bottom: 0;
    margin-top: 0;
}
.product-description {
    margin-top: 10px;
}
.list-rating {
    margin: 0;
    padding: 0;
}
.list-rating li {
    display: inline;
    list-style-type: none;
}
.navbar-default .navbar-nav > li {
    background-color: #824D3D;
    color: #F0EEE1;
    cursor: pointer;
    font-weight: bold;
    margin-top: -7px;
    padding: 12px;
}
.navbar-default .navbar-nav > li a {
    color: #F0EEE1;
    padding: 0;
}
.navbar-default .navbar-nav > li:hover {
    background-color: #E87714;
}
.navbar-default .navbar-nav > li.active {
    background-color: #B65A31;
    color: #FFFFFF;
}
textarea {
    margin-bottom: 10px;
    width: 100%;
}
h2 {
    margin-top: 5px;
}
.reviews {
    padding: 0;
}
.reviews > li {
    border-bottom: 1px solid rgba(130, 98, 88, 0.4);
    font-size: 80%;
    padding: 4px;
}
.reviews > li ul {
    padding-bottom: 10px;
}
.reviews li:last-of-type {
    border: medium none;
}
.reviews li.read-more {
    cursor: pointer;
    padding-bottom: 30px;
    position: relative;
}
.reviews li .content {
    margin-top: 10px;
}
.reviews li.read-more .content {
    height: 40px;
    overflow: hidden;
}
.reviews li .expand {
    display: none;
}
.reviews li.read-more .expand {
    bottom: 0;
    display: block;
    height: 25px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.reviews li.read-more:not(.is-expanded) .expand {
    background-image: linear-gradient(rgba(240, 238, 225, 0), #F0EEE1);
    height: 75px;
    padding-top: 50px;
}
.reviews li.read-more.is-expanded .content {
    height: auto;
}
.reviews li.read-more span.label {
}
.logo_css {
    height: 34px;
    width: 50px;
}
.img-thumbnail {
    height: 150px;
    width: 160px;
}
